
.carousel {
  margin-top: 20px;
  max-width: 1600px; 
  margin-left: auto;
  margin-right: auto; 
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #ddd;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #638ecb;
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators li {
  background-color: #638ecb;
}

.carousel-indicators .active {
  background-color: #007bff;
}
